In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/wise ml project/India Agriculture Crop Production.csv')

In [ ]:
df.head()

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296

In [ ]:
print(df.head())

                         State                  District      Crop     Year  \
0  Andaman and Nicobar Islands                  NICOBARS  Arecanut  2001-02
1  Andaman and Nicobar Islands                  NICOBARS  Arecanut  2002-03
2  Andaman and Nicobar Islands                  NICOBARS  Arecanut  2003-04
3  Andaman and Nicobar Islands  NORTH AND MIDDLE ANDAMAN  Arecanut  2001-02
4  Andaman and Nicobar Islands            SOUTH ANDAMANS  Arecanut  2002-03

       Season    Area Area Units  Production Production Units     Yield
0      Kharif  1254.0    Hectare      2061.0           Tonnes  1.643541
1  Whole Year  1258.0    Hectare      2083.0           Tonnes  1.655803
2  Whole Year  1261.0    Hectare      1525.0           Tonnes  1.209358
3      Kharif  3100.0    Hectare      5239.0           Tonnes  1.690000
4  Whole Year  3105.0    Hectare      5267.0           Tonnes  1.696296

In [ ]:
print(df.tail())

          State     District Crop     Year Season  Area Area Units  \
345402  Manipur  IMPHAL WEST  NaN  2019-20   Rabi   NaN    Hectare
345403  Manipur     SENAPATI  NaN  2019-20   Rabi   NaN    Hectare
345404  Manipur   TAMENGLONG  NaN  2019-20   Rabi   NaN    Hectare
345405  Manipur      THOUBAL  NaN  2019-20   Rabi   NaN    Hectare
345406  Manipur       UKHRUL  NaN  2019-20   Rabi   NaN    Hectare

        Production Production Units  Yield
345402         NaN           Tonnes    NaN
345403         NaN           Tonnes    NaN
345404         NaN           Tonnes    NaN
345405         NaN           Tonnes    NaN
345406         NaN           Tonnes    NaN

In [ ]:
df.columns

Index(['State', 'District', 'Crop', 'Year', 'Season', 'Area', 'Area Units',
       'Production', 'Production Units', 'Yield'],
      dtype='object')

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345407 entries, 0 to 345406
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             345407 non-null  object
 1   District          345407 non-null  object
 2   Crop              345375 non-null  object
 3   Year              345407 non-null  object
 4   Season            345406 non-null  object
 5   Area              345374 non-null  float64
 6   Area Units        345407 non-null  object
 7   Production        340414 non-null  float64
 8   Production Units  345407 non-null  object
 9   Yield             345374 non-null  float64
dtypes: float64(3), object(7)
memory usage: 26.4+ MB
None

In [ ]:
print(df.describe())

               Area    Production          Yield
count  3.453740e+05  3.404140e+05  345374.000000
mean   1.167019e+04  9.583711e+05      79.407569
std    4.583843e+04  2.152986e+07     916.628744
min    4.000000e-03  0.000000e+00       0.000000
25%    7.400000e+01  8.700000e+01       0.546742
50%    5.320000e+02  7.170000e+02       1.000000
75%    4.110000e+03  7.176000e+03       2.467080
max    8.580100e+06  1.597800e+09   43958.333333

In [ ]:
print(df.isnull().sum())

State                  0
District               0
Crop                  32
Year                   0
Season                 1
Area                  33
Area Units             0
Production          4993
Production Units       0
Yield                 33
dtype: int64

In [ ]:
df['Area'].fillna(df['Area'].mean(), inplace=True)
df['Yield'].fillna(df['Yield'].mean(), inplace=True)
df['Crop'].fillna(df['Yield'].mean(), inplace=True)
df['Production'].fillna(df['Production'].mean(), inplace=True)
df['Season'].fillna(df['Season'].mode()[0], inplace=True)

In [ ]:
print(df.isnull().sum())

State               0
District            0
Crop                0
Year                0
Season              0
Area                0
Area Units          0
Production          0
Production Units    0
Yield               0
dtype: int64

is your col normally distributed or not

1.Identifying the outliers